.first__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.second__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}